<header>
  <nav class="navbar bg-base-100 flex items-center justify-between">
    <a class="btn btn-ghost text-xl"> Angular Gemini Demo App </a>
    <a
      class="px-4"
      target="_blank"
      rel="noreferrer noopener"
      href="https://github.com/ranibb/ng-gc-ws"
      ><img
        src="assets/github-mark-white.svg"
        class="w-4 h-4"
        alt="github logo"
    /></a>
  </nav>
</header>
<main class="mx-auto max-w-3xl p-8">
  <h2 class="text-xl mb-4 text-center">Angular Gemini Sentiment Analyzer</h2>
  @if(geminiService.geminiApiConfig.apiKey) {
  <form
    [formGroup]="form"
    class="form relative grid grid-cols-1 md:grid-cols-2 gap-4"
  >
    <div>
      <select
        name="model"
        formControlName="model"
        class="select select-bordered w-full max-w-xs"
      >
        <option disabled>Select a Gemini model</option>
        @for(model of models; track model.name) {
        <option value="{{ model.name }}">{{ model.title }}</option>
        }
      </select>
    </div>
    <div class="flex flex-col gap-4 items-end">
      <textarea
        formControlName="inputTextVal"
        class="textarea w-full border-2 border-base-content"
        placeholder="Type something to analyze the sentiment of the text"
        rows="3"
      ></textarea>
      <ng-gc-sentiment-analyzer
        [config]="sentimentConfig()"
        [text]="inputTextValDebounced()"
      ></ng-gc-sentiment-analyzer>
    </div>
  </form>
  } @else {
  <div role="alert" class="alert alert-error">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      class="stroke-error-content h-6 w-6 shrink-0"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
      ></path>
    </svg>
    <div class="flex flex-col">
      <div>
        Please provide the Gemini API Key from the .env file, or from the input
        below. And don't worry, we don't store it anywhere, and the code is
        public on GitHub :)
      </div>
    </div>
  </div>
  <form (submit)="updateApiKey(apiKeyInput.value, $event)">
    <label class="form-control w-full">
      <div class="label">
        <span class="label-text">Enter your Gemini API Key here</span>
      </div>
      <div class="input input-bordered w-full flex items-center gap-2">
        <input
          #apiKeyInput
          type="password"
          placeholder="Gemini API Key"
          class="grow"
        />
        <span class="badge">Hit enter to apply</span>
      </div>
    </label>
  </form>
  }
</main>
<router-outlet></router-outlet>
